.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.desc {
  width: 70%;
  overflow: auto;
}

.title {
  overflow: auto;
}

.backbutton {
  align-self: flex-start;
  justify-content: flex-end;
  margin-left: 5%;
  margin-top: 5%;
}

.back {
  background: none;
  border: none;
}

.sections {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 13%;
  font-weight: bold;
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
  color: #0f1014c4;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 5%;
  padding: 9%;
}

.sidebuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.functions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
  margin-top: 20%;
}

.upbutton {
  background: none;
  border: none;
}

@media screen and (max-width: 1080px) {
  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .container {
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
